.navbar_component {
    width: 100vw;
    height: 60px;
    background-color: #131A22;
    display: flex;
}

.navbar_logo {
    background: url('https://ik.imagekit.io/amazone123/amazon-image/amazon-image/sprite_350x.png') no-repeat -9px -50px;
    width: 98px;
    height: 31px;
    margin: 18px;
}

.navbar_locator {
    display: flex;
    margin: 20px 0px;
}

.navbar_location {
    color: white;
    font-weight: bold;
}

.navbar_locatorImage{
    background: url('https://ik.imagekit.io/amazone123/amazon-image/amazon-image/sprite_350x.png') no-repeat -70px -376px;
	width: 18px;
	height: 40px;
}

.navbar_searchcomponent {
    display: flex;
}

.navbar_searchboxdiv {
    background-color: #FEBE68;
    height: 44px;
    width: 48px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 8px;
}

.navbar_searchbox {
    width: 640px;
    height: 39px;
    margin-top: 8px;
}

.navbar_searchicon {
    background: url('https://ik.imagekit.io/amazone123/amazon-image/amazon-image/sprite_350x.png') no-repeat -9px -289px;
	width: 23px;
	height: 23px;
    margin: 12px;
}

.nav_dropdown {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #e6e5e5;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;
    height: 44px;
    width: 80px;
    margin-top: 8px;
}

.nav_dropdown select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #131A22;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
}


.nav_dropdown::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 10px;
    pointer-events: none;
    color: #131A22;
}


.nav_dropdown:hover {
    background-color: #FEBE68;
}

